<h2>Farewell, Chosen Undead. I remain here, and await thee.</h2>
</br>
<p><%= link_to 'Quests', controller: 'quests' %></p>
<p><%= link_to 'NPCs', controller: 'npcs' %></p>
<p><%= link_to 'Master Login', action: 'login' %></p>
