
<h2>Farewell, Chosen Undead. I remain here, and await thee.</h2>

</br>
<p>
  This site features <%= link_to 'Quests', controller: 'quests' %>, <%= link_to 'NPCs', controller: 'npcs' %>,
  and an authorized <%= link_to 'Master Login', action: 'login' %> mode.
</p>
