<h1>Spells</h1>


<table class="table">
  <tr>
    <!--<th>Id</th>-->
    <th>Name</th>
  </tr>

  <% @spells.each do |item| %>
      <tr>
        <!--<td><%= item.id %></td>-->
        <td><%= item.name %></td>
        <td><%= link_to 'Show', {id: item.id, action: "show"}, class: 'btn btn-primary' %></td>
     </tr>
  <% end %>
</table>
