
<h2><%= @npc.name %></h2>

<p>
  <strong>Text:</strong>
  <%= @npc.description %>
</p>

<% if not permitted(@npc.quests).empty? %>
  <p>
    <strong>Quests:</strong>
    <% permitted(@npc.quests).each do |quest| %>
      <br> <%= link_to quest.name, quest %>
    <% end %>
  </p>
<% end %>

<% if admin? %>
  <p>
    <strong>Discovered:</strong>
    <%= @npc.discovered.to_s %>
  </p>
<% end %>
