<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @npc.description %>
</p>

<% if admin? %>
  <p>
    <strong>Discovered:</strong>
    <%= @npc.discovered.to_s %>
  </p>
<% end %>
