<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @npc.description %>
</p>

<% if not @npc.quests.empty? %>
  <p>
    <strong>Quests:</strong>
    <% @npc.quests.each do |quest| %>
      <br> <%= link_to quest.name, quest %>
    <% end %>
  </p>
<% end %>

<% if admin? %>
  <p>
    <strong>Discovered:</strong>
    <%= @npc.discovered.to_s %>
  </p>
<% end %>
